.Cover {
    display: flex;
    background: linear-gradient(90deg, #243958, #1e6ead, #5c4a9e, #8a288b);
    padding: 3rem 0;
}

.Cover h1 {
    font-size: 3.6rem;
    -webkit-text-stroke: 1px #854adb;
    width: 130%;
}

.Content {
    display: flex;
    flex-direction: column;
    width: 60rem;
    margin: 0 auto;
    padding: 3% 0;
}

.Content a {
    color: #482ff7;
}

.Content a:hover {
    color: #854adb;
}

.Content p {
    text-align: justify;
    padding-top: 1em;
}

.Content h2 {
    padding-top: 1em;
    font-weight: bold;
}


.Content h3 {
    padding-top: 1em;
    font-weight: bold;
}

@media only screen and (max-width: 62rem) {
    .Cover {
        padding: 3rem;
    }
    .Content {
        width: auto;
        padding: 3%;
    }
}

@media only screen and (max-width: 40rem) {
    .Cover h1 {
        font-size: 2.1rem;
        -webkit-text-stroke: 0px #854adb;
    }
}

@media only screen and (max-width: 30rem) {
    .Cover div {
        display: none;
    }
}