.Cover {
    display: flex;
    background: linear-gradient(90deg, #243958, #1e6ead, #5c4a9e, #8a288b);
    padding: 3rem 0;
}

.Cover h1 {
    font-size: 2.1rem;
    -webkit-text-stroke: 1px #854adb;
}

.Content {
    display: flex;
    flex-direction: column;
    width: 60rem;
    margin: 0 auto;
    padding: 3% 0;
}

.Content p {
    text-align: justify;
}

.Possibilities {
    padding: 2em 7%;
}

.Capabilities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 2rem;
    padding: 2em;
}

.CapabilitiesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CapabilitiesBox p {
    text-align: center;
}

.CapabilitiesBox h4 {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px dashed grey;
    margin: 1em;
}

.Icon {
    padding: 0 3rem;
    filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, 0.3));
    height: 8rem;
}

.CapabilitiesBoxS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, 0.3));
}

.CapabilitiesBoxS h3 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: Righteous;
    font-size: 4rem;
}

@media only screen and (max-width: 62rem) {
    .Cover {
        padding: 3rem;
    }
    .Content {
        width: auto;
        padding: 3%;
    }
    .Possibilities {
        display: none;
    }
}

@media only screen and (max-width: 40rem) {
    .Cover h1 {
        font-size: 1.6rem;
        -webkit-text-stroke: 0px #854adb;
    }
}

@media only screen and (max-width: 30rem) {
    .Cover div {
        display: none;
    }
}