.tabs {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1920 - 300)));
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #482ff7;
}

.tabs > li {
  padding: .5em 1em;
  margin: 0 1em;
}

.tabLink:hover {
  color: #482ff7;
}

.current {
  position: relative;
  top: 2px;
  background: white;
  color: #482ff7;
  font-weight: bold;
  border: 2px solid #482ff7;
  border-bottom: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.content {
  background-color: white;
  border-left: 2px solid #482ff7;
  border-right: 2px solid #482ff7;
  border-bottom: 2px solid #482ff7;
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
  text-align: justify;
  padding: 1em 2em;
}
