.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 5;
  }

.ModalWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 50px;
    z-index: 5;
}

.CloseButton {
    font-weight: 600;
    border: 1px solid #bfa457;
    border-radius: 2px;
    padding: .5em;
    background-color: #ffcf46;
    color: white;
    margin-right: auto;
    margin-bottom: 1em;
    transition: .3s;
  }

  .CloseButton:hover {
    transform: scale(1.06);
    background-color: #ffcf46;
  }

  @media only screen and (max-width: 1080px) {
    .ModalWindow {
       
    }
  }
