@keyframes show {
  from {opacity: 0;} to {opacity: 1;}
}

@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}

@keyframes showRight {
from {right:-100%;}
to {right:0;}
}

.Container {
  padding: 0 3% 3rem 3%;
  scroll-snap-align: start;
  animation: show 2s;
  margin-top: 4%;
}

.Header {
  font-family: Righteous;
  -webkit-text-stroke: 1px white;
  text-transform: uppercase;
  font-size: calc(20px + 31 * ((100vw - 300px) / (1920 - 300)));
  color: #844adb;
  text-align: center;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .5));
  margin-block-end: .5em;
}

.MainHeaderDescription {
  text-align: center;
  margin-bottom: 1em;
}

.Divider{
  display: grid;
  grid-template-columns: 55% 45%;
}

.LeftBlock {
  min-height: 33vh;
}

.LeftBlock {
  display: flex;
  align-items: center;
  background-image: url(../images/backgrounds/about.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(3px 3px 3px rgb(89, 45, 98));
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.RightBlock {
  padding: 2rem 0;
  animation: showRight .9s;
}

.FirstBlockRightList {
  display: flex;
  flex-flow: row wrap;
  align-content:flex-start;
  margin-bottom: 1em;
}

.RightListIcon {
  width: 25%;
  padding: 1rem;
	align-self: flex-start;
  align-content:flex-start;
}

.RightListIcon3 {
  width: 25%;
  padding: 1rem 1rem 0 0;
	align-self: flex-start;
  align-content:flex-start;
}

.RightIcon {
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, 0.3));
}

.RightListText {
  width: 75%;
  padding-left: 1em;
}

.RightListHeader {
  font-size: calc(20px + (4) * ((100vw - 300px) / (1920 - 300)));
  color: #844adb;
  text-shadow: 1px 1px 2px rgba(77, 77, 77, 0.5);
  margin-block-start: .5em;
	align-self: auto;
}

.RightListParagraph {
  text-align: justify;
  flex: 1 auto;
	align-self: auto;
}

.RightListParagraphMobile {
  display: none;
  text-align: justify;
  flex: 1 auto;
	align-self: auto;
}

@media only screen and (max-width: 1365px) {
  .FirstBlock {
    padding: 0 6% 0 3%;
  }
  .Divider{
    grid-template-columns: 1fr;
  }
  .LeftBlock {
    width: 100%;
    margin: 0 auto;
    padding-top: 1.5em;
  }
  .RightBlock {
    padding: 0 16%;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 1080px) {
  .FirstBlock {
    margin-top: 6%;
  }
  .FirstBlockRight {
    padding: 5%;
  }
  .RightBlock {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 800px) {
  .Header {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .Container {
    margin-top: 3rem;
  }
  .RightBlock {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 600px) {
  .Header {
    font-size: 1.6rem;
  }
  .RightBlock {
    padding: 0 1%;
  }
  .RightListIcon {
    width: 16%;
    padding: 1rem 0 0 0;
  }
  .RightListIcon3 {
    width: 20%;
    padding: 1rem 0 0 0;
  }
  .RightListText {
    align-items: center;
  }
  .RightListHeader {
    font-size: 1rem;
    padding-top: .25em;
  }
  .RightListParagraph {
    display: none;
  }
  .RightListParagraphMobile {
    display: flex;
    padding-top: .5em;
  }
}