@keyframes show {
  from {opacity: 0;} to {opacity: 1;}
}

@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}

@keyframes showRight {
from {right:-100%;}
to {right:0;}
}

.FirstBlock {
  padding: 0 3% 3rem 3%;
  scroll-snap-align: start;
  animation: show 2s;
  margin-top: 4%;
}

.FirstBlockHeader {
  font-size: calc(20px + (33 - 20) * ((100vw - 300px) / (1920 - 300)));
  color: #844adb;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(77, 77, 77, 0.5);
  margin-block-end: .5em;
}

.FirstBlockParagraph {
  text-align: center;
}

.FirstBlockSidesDivision{
  display: grid;
  grid-template-columns: 55% 45%;
}

.FirstBlockLeft {
  display: flex;
  align-items: center;
  background-image: url(../images/backgrounds/about.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.FirstBlockLeftIMG {
  filter: drop-shadow(3px 3px 3px rgb(89, 45, 98));
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.FirstBlockRight {
  position:relative;
  padding: 2rem 0;
  margin: auto;
  animation: showRight .9s;
}

.FirstBlockRightList {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 1em;
}

.RightListIcon {
  justify-self: start;
  padding: 10% 16%;
  float: left;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
}

.RightListI3 {
  padding: 10% 16% 10% 8%;
  float: left;
  grid-row-start: 1;
  grid-row-end: 3;
}

.RightIcon {
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, 0.3));
}

.FirstBlockRightListHeader {
  font-size: calc(20px + (4) * ((100vw - 300px) / (1920 - 300)));
  color: #844adb;
  text-shadow: 1px 1px 2px rgba(77, 77, 77, 0.5);
  margin-block-start: .5em;
  margin-block-end: 0;
}

.FirstBlockRightListParagraph {
  text-align: justify;
  grid-column-start: 2;
}


@media only screen and (max-width: 1365px) {
  .FirstBlock {
    padding: 0 6% 0 3%;
  }
  .FirstBlockSidesDivision{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .FirstBlockLeft {
    width: 70%;
    margin: 0 auto;
    padding-top: 1.5em;
  }
  .FirstBlockRightListI {
    display: flex;
    align-items: flex-start;
    padding: 12% 25%;
  }
  .FirstBlockRightListI3  {
    display: flex;
    align-items: flex-start;
    padding: 12% 25% 12% 20%;
  }
  .FirstBlockRightListHeader {
    margin-block-start: 1.2em;
  }
}

@media only screen and (max-width: 1080px) {
  .FirstBlock {
    margin-top: 6%;
  }
  .FirstBlockSidesDivision{
    grid-template-columns: 1fr;
  }
  .FirstBlockRight {
    padding: 5%;
  }
  .FirstBlockRightList {
    display: grid;
  }
  .FirstBlockRightListI {
    padding: 10% 16%;
  }
  .FirstBlockRightListI3 {
    padding: 10% 16% 10% 10%;
  }
  .FirstBlockRightListHeader {
    margin-block-start: .5em;
  }
}

@media only screen and (max-width: 768px) {
  .FirstBlockRight {
    padding: 2% 0;
  }
  .FirstBlockRightList {
    margin: .5rem 0;
  }
  .FirstBlock {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .FirstBlockRightListParagraph {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 1em;
  }
  .FirstBlock {
    margin-top: 12%;
  }
  .FirstBlockRightListI, .FirstBlockRightListI3{
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .FirstBlockRightList {
    margin-bottom: 1.5em;
  }
  .FirstBlockRightListI, .FirstBlockRightListI3{
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10% 16%;
  }
}
