.Wrapper {
    padding: 3% 3% 0;
}

.Header {
    font-family: Righteous;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    font-size: calc(20px + 31 * ((100vw - 300px) / (1920 - 300)));
    color: #854adb;
    text-align: center;
    filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .5));
}

.Container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    grid-template-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    grid-gap: 1rem;
    margin-top: 1.5rem;
}

.Box {
    display: grid;
    font-size: 1.2rem;
    border-radius: .5rem;
    place-items: center;
    transition: .5s;
    border: 1px solid #854adb;
    overflow: hidden;
}

.Box:hover {
    background: #854adb !important;
    color: white;
}

.Box:nth-child(1) {
    grid-column: span 2;
}

.Box:nth-child(2) {
    grid-row: span 2;
}

.Box:nth-child(4) {
    grid-row: span 2;
}

.Box:nth-child(5) {
    grid-column: span 3;
}

.Content {
    padding: 1.2rem;
}

.Content h3 {
    font-family: Righteous;
    font-size: 2.1em;
}

.Content:hover {
    color: white !important;
}

.Content p {
    font-family: Arima Madurai;
    font-weight: 400;
    line-height: 1.1;
}

.ContentInline {
    display: inline-flex;
}

.ChoiseIMG {
    align-self: center;
    max-width: 33vw;
}

.ContentOpenSource {
    padding: 1.2rem;
}

.ContentOpenSource h3 {
    color: #ffcf46;
    font-family: Righteous;
    font-size: 2.1em;
    -webkit-text-stroke: 1px black;
}

.AdvantagesImageSmall {
    display: none;
}

.ContentScada {
    padding: 1.2rem;
    background-image: url(../images/articles/SCADA-integration.webp);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.ContentScada h3 {
    font-family: Righteous;
    font-size: 2.1em;
    filter: drop-shadow(3px 3px 3px rgb(89, 45, 98));
    transition: .5s;
}

.ContentScada h3:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 77rem) {
    .ForkLiftTruck {
        display: none;
    }
}

@media only screen and (max-width: 1080px) {
    .Container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto);
    }
    .Box {
        grid-column: unset !important;
        grid-row: unset !important;
    }
    .ContentInline {
        display: flex;
        flex-direction: column;
    }
    .ContentInline p {
        width: 100% !important;
    }
    .ChoiseIMG {
        max-width: 100%;
    }
    .ContentScada h3:hover {
        transform: scale(1.03);
    }
    .Advantages {
        display: flex;
        width: 85vw;
        justify-items: space-between;
        align-items: center;
     }
    .AdvantagesImageSmall {
        display: flex;
        width: 9rem;
    }
    .AdvantagesImageBig {
        display: none;
    }
    .Advantages h3 {
        margin-right: 1em;
    }

    .DifferenceImg {
        width: 75%;
        margin: 0 auto;
    }
    .OpenSourceImg {
        display: none;
    }

    .ContentOpenSource {
        background-image: url(../images/articles/opensource.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .ContentOpenSource h3 {
        -webkit-text-stroke: 1.5px black;
        filter: drop-shadow(3px 3px 3px rgb(89, 45, 98));
        transition: .5s;
    }
    .ContentOpenSource h3:hover {
        transform: scale(1.025);
    }
}

@media only screen and (max-width: 800px) {
    .Header {
      font-size: 2rem;
    }
    .ChoiseIMG {
        display: none;
    }
}

@media only screen and (max-width: 608px) {
    .Content h3 {
        font-size: 1.6em;
    }
    .ContentScada h3 {
        font-size: 1.6em;
    }
    .Advantages h3 {
        margin-right: 1em;
    }
    .Advantages h3 {
        margin-right: .5em;
    }
    .ContentOpenSource h3 {
        font-size: 1.6em;
        color: white;
    }
}