.Container {
  display: grid;
  background-image: url(../images/backgrounds/ThirdBlock-BG.webp);
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scroll-snap-align: start;
}

.Background {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3%;
}

.Header {
  font-family: Righteous;
  -webkit-text-stroke: 1px white;
  text-transform: uppercase;
  font-size: calc(20px + 31 * ((100vw - 300px) / (1920 - 300)));
  color: #844adb;
  text-align: center;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .5));
}

.Description {
  text-align: center;
  filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.9));
}

.CardsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: 2rem;
  padding: 1% 10%;
  margin: 1% auto;
}

.ThirdBlockOneCard {
  display: flex;
  flex-flow: row wrap;
  align-content:flex-start;
  border-top: 1px solid #854adb;
  border-bottom: 1px solid #854adb;
  border-radius: .2rem;
  background: rgba(255, 255, 255, 0.8);
  padding: .5rem 0;
  box-shadow: 0 0 10px rgba(89, 45, 98, 0.5);
}

.ThirdBlockOneCardI {
  width: 25%;
	align-self: flex-start;
  align-content:flex-start;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, 0.3));
  padding: .5rem;
}

.ThirdBlockOneCardRight {
  width: 75%;
  padding: 0 1em 0 .5em;
}

.ThirdBlockOneCardH3 {
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 500;
  color: #854adb;
  filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.9));
}

.ThirdBlockOneCardP {
  text-align: justify;
  flex: 1 auto;
	align-self: auto;
}

.CardParagraphMobile {
  display: none;
  text-align: justify;
  flex: 1 auto;
	align-self: auto;
  padding: 0 .5em;
}

.ThirdBlockDigits {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid #854adb;
  border-bottom: 1px solid #854adb;
  border-radius: .2rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 1% 0;
  margin: 0 10% 3%;
  box-shadow: 0 0 10px rgba(89, 45, 98, 0.5);
}

.ThirdBlockDigitsBlock {
  border-right: 1px solid #854adb;
  padding: 0 5%;
}

.ThirdBlockDigitsBlockL {
  padding: 0 5%;
}

.ThirdBlockDigitsH3 {
  font-size: calc(21px + (33 - 20) * ((100vw - 300px) / (1920 - 300)));
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 500;
  color: #854adb;
}

@media only screen and (min-width: 120rem) {
  .Header {
    font-size: 4rem;
  }
  .CardsWrapper {
    max-width: 1443px;
    padding: .5rem;
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 1200px) {
  .ThirdBlockDigits {
    margin: 0 auto;
    width: 85vw;
  }
}

@media only screen and (max-width: 955px) {
  .CardsWrapper {
    display: flex;
    flex-direction: column;
    grid-gap: .5rem;
  }
  .ThirdBlockOneCard {
    padding: 2% 1%;
  }
  .ThirdBlockOneCardI {
    width: 15%;
  }
  .ThirdBlockOneCardRight {
    width: 80%;
    margin-left: 1em;
  }
}

@media only screen and (max-width: 800px) {
  .Header {
    font-size: 2rem;
  }
  .ThirdBlockDigits {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .Description {
    margin-bottom: 1em;
  }
  .ThirdBlockOneCardP {
    display: none;
  }
  .CardParagraphMobile {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .CardsWrapper {
    padding: 1% 3%;
  }
  .Header {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 480px) {
  .CardsWrapper {
    padding: 0 1%;
    margin: 0 auto;
  }
}
