.Container {
  background-image: linear-gradient(to right, #6056e9 , #8f49dd);
  background-image: url(../images/Prices-BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 3%;
}

.MainHeader {
  text-transform: uppercase;
  font-size: calc(20px + (33 - 20) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 600;
  color: white;
  text-align: center;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .5));
}

.MainHeaderDescription {
  color: white;
  text-align: center;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .5));
}

.TabsContainer {
  margin: 0 4%;
  margin-top: 2em;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .9));
}

.OneTabContainer {
  border: 2px solid #fff;
}

.CardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  justify-content: space-around;
  grid-gap: 2rem;
  padding: 1rem 0;
}

.Card {
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: .5rem;
  padding: 1em;
  box-shadow: 0 0 10px rgba(89, 45, 98, 0.5);
}

.Logo {
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Logo img {
  max-width: 100%;
	padding: 1rem;
  height: 12rem;
}

.CardD {
  text-align: justify;
  filter: drop-shadow(3px 0px 5px rgba(89, 45, 98, .3));
  padding: 1em 0;
  border-bottom: 2px solid #fff;
}

.CardDN {
  font-family: Poppins;
  font-size: 1.2rem;
  color: #ffcf46;
}

.CardDN:hover a{
  color: #482ff7;
}

.CardOpenSource:hover {
  color: #482ff7;
}

.PriceRow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  padding: .3em 0;
  margin-bottom: .5em;
}

.PriceRow2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgba(255, 255, 255, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  padding: .3em 0;
  margin: .5em 0;
}

.PriceRowD {
  font-family: Poppins;
  font-weight: 500;
}

.Sum {
  display: flex;
  justify-content: center;
  font-family: Goldman;
  font-size: 2rem;
  font-weight: 500;
  color: #ffcf46;
  transform: scaleY(1.2);
}

.CardSpecification {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 1.3rem;
  font-weight: 500;
  transform: scaleX(1.07);
}

.CardSpecification:hover a {
  color: #ffcf46;
}

@media only screen and (max-width: 1900px) {
  .Container {
    padding: 0;
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 1850px) {
  .Container {
    padding: 3% 6%;
  }
  .MainHeaderDescription {
    padding: 0 4%;
  }
  .CardsContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 10%
  }
}

@media only screen and (max-width: 1365px) {
  .Container {
    padding: 3% 3%;
  }
  .CardsContainer {
    padding: 1rem 5%;
  }
}

@media only screen and (max-width: 1080px) {
  .Container {
    padding: 3% 1%;
  }
  .CardsContainer {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 800px) {
  .Container {
    padding: 3% 0;
  }
  .CardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  }
}

@media only screen and (max-width: 600px) {
  .OneTabContainer::label {
    Content: "CRM";
  }
}
