.SecondBlock {
  background-image: linear-gradient(to right, #6056e9 , #8f49dd);
  background-image: url(../images/SecondBlock-BG.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 55% 45%;
  padding: 0 3%;
  scroll-snap-align: start;
  overflow: hidden;
}

.SecondBlockLeft {
  filter: drop-shadow(3px 3px 3px rgb(89, 45, 98));
  color: white;
  padding: 3% 5% 5%;
  margin: auto 0;
  z-index: 1;
}

.SecondBlockHeader{
  font-size: calc(20px + (33 - 20) * ((100vw - 300px) / (1920 - 300)));
  width: 90vw;
  margin-block-end: .6em;
}

.SecondBlockLine {
  border: 2px solid #fff;
  width: 6vw;
}

.SecondBlockConent {
  display: grid;
  grid-template-columns: 5% 95%;
  text-align: justify;
}

.SecondBlockIcon {
  display: inline-flex;
  align-items: flex-start;
  width: 1.5em;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, 0.5));
  margin-block-start: 1.5em;
}

.SecondBlockH {
  margin-block-start: 1.2em;
  margin-block-end: .5em;
}

.SecondBlockRight {
  display: flex;
  align-items: flex-end;
  width: 120%;
  padding: 3%;
  margin-left: -20%;
  z-index: 0;
}

.SecondBlockIMG {
  filter: drop-shadow(5px 5px 5px rgb(89, 45, 98));
}

.ButtonWorkGroup {
  color: #ffcf46;
  font-size: 1rem;
}

.ButtonWorkGroup:hover {
  color: #482ff7;
}

@media only screen and (max-width: 1400px) {
  .SecondBlockLeft {
    width: 150%;
  }
  .SecondBlockConent {
    filter: drop-shadow(0 0 1rem #7258e7);
  }
  .SecondBlockH {
    text-shadow: 0 0 3rem #7258e7;
  }
  .SecondBlockP {
    text-shadow: 0 0 3rem #7258e7;
    background-image: radial-gradient(
      rgba(89, 45, 98, .2),
      rgba(0, 0, 0, 0)
    );
    padding: 1%;
  }
  .SecondBlockRight {
    width: 150%;
    margin-left: -50%;
  }
}

@media only screen and (max-width: 1080px) {
  .SecondBlock {
    grid-template-columns: 1fr;
  }
  .SecondBlockLeft {
    width: 100%;
  }
  .SecondBlockHeader{
    filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .1));
    width: 100%;
  }
  .SecondBlockConent {
    filter: drop-shadow(3px 3px 9px rgba(89, 45, 98, .5));
  }
  .SecondBlockH {
    text-shadow: none;
  }
  .SecondBlockP {
    text-shadow: none;
    background-image: none;
  }
  .SecondBlockRight {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .SecondBlockLeft {
    padding: 5% 1% 7% 0;
  }
  .SecondBlockConent {
    margin-top: 1em;
  }
  .SecondBlockIcon {
    padding-right: .2rem;
  }
  .SecondBlockH {
    margin-left: 1em;
    margin-block-end: .3em;
  }
  .SecondBlockP {
    margin-left: -1.4em;
  }
}
