@keyframes show {
  from {opacity: 0;} to {opacity: 1;}
}

@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}

@keyframes showRight {
from {right:-100%;}
to {right:0;}
}

.FirstBlock {
  padding: 0 3% 3rem 3%;
  scroll-snap-align: start;
  animation: show 2s;
  margin-top: 4%;
}

.FirstBlockHeader {
  font-size: calc(20px + (33 - 20) * ((100vw - 300px) / (1920 - 300)));
  color: #844adb;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(77, 77, 77, 0.5);
}

.FirstBlockParagraph {
  text-align: center;
}

.FirstBlockSidesDivision{
  display: grid;
  grid-template-columns: 55% 45%;
}

.FirstBlockLeft {
  display: flex;
  align-items: center;
}

.FirstBlockLeftIMG {
  filter: drop-shadow(3px 3px 3px rgb(89, 45, 98));
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.FirstBlockRight {
  position:relative;
  padding: 2rem 0;
  margin: auto;
  animation: showRight .9s;
}

.FirstBlockRightList {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 1em;
}

.FirstBlockRightListI {
  justify-self: start;
  padding: 10% 16%;
  float: left;
  grid-row-start: 1;
  grid-row-end: 3;
}

.FirstBlockRightIcon {
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, 0.3));
}

.FirstBlockRightListHeader {
  color: #844adb;
  text-shadow: 1px 1px 2px rgba(77, 77, 77, 0.5);
}

.FirstBlockRightListParagraph {
  text-align: justify;
  grid-column-start: 2;
  align-items: start;
}

@media only screen and (max-width: 1365px) {
  .FirstBlockSidesDivision{
    grid-template-columns: 65% 35%;
  }
  .FirstBlockRightList {
    display: block;
  }
  .FirstBlockRightListI {
    width: 30%;
    padding: 2% 5% 2% 0;
  }
}

@media only screen and (max-width: 1080px) {
  .FirstBlock {
    margin-top: 6%;
  }
  .FirstBlockSidesDivision{
    grid-template-columns: 1fr;
  }
  .FirstBlockLeft {
    display: none;
  }
  .FirstBlockRight {
    padding: 5%;
  }
  .FirstBlockRightList {
    display: grid;
  }
  .FirstBlockRightListI {
    width: auto;
    padding: 10% 16%;
  }
}

@media only screen and (max-width: 768px) {
  .FirstBlockRight {
    padding: 2% 0;
  }
  .FirstBlockRightList {
    margin: .5rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .FirstBlock {
    margin-top: 12%;
  }
  .FirstBlockRightListI {
    padding: 16% 10% 0 0;
  }
}

@media only screen and (max-width: 480px) {
  .FirstBlockRightList {
    display: block;
  }
  .FirstBlockRightListI {
    width: 30%;
    padding: 3% 5% 0 0;
  }
}
