.SecondBlock {
  background-image: url(../images/SecondBlock-BG.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 55% 45%;
  padding: 0 3%;
  scroll-snap-align: start;
}

.SecondBlockLeft {
  filter: drop-shadow(3px 3px 3px rgb(89, 45, 98));
  color: white;
  padding: 3% 5% 5%;
  margin: auto 0;
  z-index: 1;
}

.SecondBlockHeader{
  font-size: calc(20px + (33 - 20) * ((100vw - 300px) / (1920 - 300)));
}

.SecondBlockLine {
  border: 2px solid #fff;
  width: 6vw;
}

.SecondBlockConent {
  display: grid;
  grid-template-columns: 5% 95%;
  text-align: justify;
  filter: drop-shadow(3px 5px 5px rgba(89, 45, 98, 0.5));
}

.SecondBlockIcon {
  display: inline-block;
  width: 1.5em;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, 0.5));
  margin-block-start: 1.5em;
}

.SecondBlockRight {
  margin: auto;
  width: 120%;
  padding: 3%;
  margin-left: -20%;
  z-index: 0;
}

.SecondBlockIMG {
  filter: drop-shadow(5px 5px 5px rgb(89, 45, 98));
}
