.Container {
  background-image: url(../images/footer-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  padding: 4% 12%;
}

.Wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 10rem;
}

.Address {
  display: flex;
  flex-direction: column;
  color: white;
}

.Address p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: .25em 0;
}

.Logo {
  width: 12vh;
  padding-bottom: .5em;
}

.SocialMedia {
  margin-top: 1em;
}

.IconCircle {
  height: 2.5rem;
  border-radius: 50%;
  transition: .3s all ease-in-out;
}

.IconCircle:hover {
  background: #05f7ff;
}

.SocialIcon {
  font-size: 1.6rem;
  margin-right: .5em;
}

.Products {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0 1em;
  margin-top: 3rem;
}

.Products h2, .Products p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.Products h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.Products p {
  padding: .25em 0;
}

.Subscribe {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 3rem;
}

.Subscribe h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.InputEmail {
  width: 100%;
}

.Subscribe input {
  width: 100%;
  line-height: 1.5;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: .5em;
  margin-bottom: 5.3rem;
}

.InputEmail {
  position: relative;
  color: white;
}

.InputEmail a {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 1.6rem;
}

.Subscribe p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
