.Container {
  background-image: linear-gradient(to right, #6056e9 , #8f49dd);
  background-image: url(../images/Prices-BG.png);
  height: 100vh;
}

.MainHeader {
  text-transform: uppercase;
  font-size: calc(20px + (33 - 20) * ((100vw - 300px) / (1920 - 300)));
  color: white;
  text-align: center;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .5));
  padding-top: .8em;
}

.MainHeaderDescription {
  color: white;
  text-align: center;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .5));
}
