.Container {

}

.HeaderSlider {
  display: grid;
  grid-template-columns: 50% 50%;
  background-image: url(../images/Top-BG.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.HeaderSliderLeft {
  color: white;
  padding: 16% 10%;
  margin: 0 auto;
}

.TopHeader {
  font-size: calc(22px + (50 - 22) * ((100vw - 300px) / (1920 - 300)));
  font-weight: bold;
  letter-spacing: 2px;
  filter: drop-shadow(3px 5px 5px rgb(89, 45, 98));
}

.TopDescription {
  text-align: justify;
  filter: drop-shadow(3px 3px 5px rgb(89, 45, 98));
}

.HeaderSliderRight {
  padding: 10% 5% 0 0;
}

.HeaderSliderRightIMG {
  filter: drop-shadow(3px 5px 5px rgb(89, 45, 98));
}

.Main {

}

.FirstBlock {
  padding: 0 3% 3rem 3%;
}

.FirstBlockHeader {
  font-size: calc(20px + (33 - 20) * ((100vw - 300px) / (1920 - 300)));
  color: #844adb;
  text-align: center;
}

.FirstBlockParagraph {
  text-align: center;
}

.FirstBlockSidesDivision{
  display: grid;
  grid-template-columns: 55% 45%;
}

.FirstBlockLeft {
  padding: 1rem 0;
  margin-top: 1rem;
}

.FirstBlockLeftIMG {
  filter: drop-shadow(3px 3px 3px rgb(89, 45, 98));
}

.FirstBlockRight {
  padding: 2rem 0;
  margin: auto;
}

.FirstBlockRightList {
  display: grid;
  grid-template-columns: 25% 75%;
}

.FirstBlockRightListHeader {
  color: #844adb;
}

.FirstBlockRightListParagraph {
  text-align: justify;
}

.FirstBlockRightListIcon {
  padding: 16%;
}

.WindowTargetIcon {
  fill: #844adb;
}

.SecondBlock {
  background-image: url(../images/SecondBlock-BG.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 55% 45%;
  padding: 0 3%
}

.SecondBlockLeft {
  filter: drop-shadow(3px 3px 3px rgb(89, 45, 98));
  color: white;
  padding: 5%;
  margin: auto 0;
}

.SecondBlockHeader{
  font-size: calc(20px + (33 - 20) * ((100vw - 300px) / (1920 - 300)));
}

.SecondBlockConent {

}

.SecondBlockRight {
  padding: 3%;
  margin: auto;
}

.SecondBlockIMG {
  filter: drop-shadow(5px 5px 5px rgb(89, 45, 98));
}

.ThirdBlock {
  height: 50vh;
}

.Footer {

}
