.Container {
  background-image: linear-gradient(to right, #6056e9 , #8f49dd);
  background-image: url(../images/Prices-BG.png);
  height: 100vh;
  padding: 0 3%;
}

.MainHeader {
  text-transform: uppercase;
  font-size: calc(20px + (33 - 20) * ((100vw - 300px) / (1920 - 300)));
  color: white;
  text-align: center;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .5));
  padding-top: .8em;
}

.MainHeaderDescription {
  color: white;
  text-align: center;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .5));
}

.TabsContainer {
  margin: 0 4%;
  margin-top: 2em;
}

.OneTabContainer {
  border: 2px solid #482ff7;
}

.PriceCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 2rem;
  padding-top: 1rem;
}

.PriceCard {
  display: flex;
  flex-direction: column;
  border: 2px solid #482ff7;
  border-radius: .5rem;
  padding: 1em;
}

.SoftwareLogo {
  width: 50%;
  margin: 0 auto;
}

.PriceCardD {
  text-indent: 1em;
  padding: 1em 0;
  border-bottom: 2px solid #482ff7;
}

.PriceSum {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 2px solid #482ff7;
}
