.SecondBlock {
  background-image: linear-gradient(to right, #6056e9 , #8f49dd);
  background-image: url(../images/backgrounds/stages.webp);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 55% 45%;
  padding: 0 3%;
  scroll-snap-align: start;
  overflow: hidden;
}

.ButtonModal {
  color: #ffcf46;
  font-size: 1rem;
}

.ButtonModal:hover {
  color:  #482ff7;
}

.ModalWrapper {
  display: flex;
  flex-direction: column;
}

.CloseModal {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: auto;
}

.CloseModal:hover {
  color: #ffcf46;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 3%;
}

.ModalP {
  margin-top: 1em;
  text-align: justify;
}

.WorkGroupBG {
  align-self: center;
  width: 45vw;
  margin-top: -6rem;
  z-index: -1;
}

.SurveyBG {
  align-self: center;
  margin-top: -2rem;
  width: 40vw;
}

.metodologyBG {
  align-self: center;
  width: 40vw;
  margin-top: -4rem;
  z-index: -1;
}

.ConceptualBG {
  align-self: center;
  width: 40vw;
  margin-top: -3rem;
  z-index: -1;
}

.RobotBG {
  align-self: center;
  width: 40vw;
}

.personnelBG {
  align-self: center;
  width: 40vw;
  margin-top: -3rem;
  z-index: -1;
}

.SecondBlockLeft {
  filter: drop-shadow(3px 3px 3px rgb(89, 45, 98));
  color: white;
  padding: 3% 5% 5%;
  margin: auto 0;
  z-index: 1;
}

.Header{
  font-family: Righteous;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #854adb;
  font-size: calc(20px + 21 * ((100vw - 300px) / (1920 - 300)));
  width: 90vw;
  margin-block-end: .6em;
}

.SecondBlockLine {
  border: 2px solid #fff;
  width: 6vw;
}

.SecondBlockConent {
  display: grid;
  grid-template-columns: 5% 95%;
}

.SecondBlockConent p {
  text-align: justify;
}

.SecondBlockIcon {
  display: inline-flex;
  align-items: flex-start;
  width: 1.5em;
  filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, 0.5));
  margin-block-start: 1.5em;
}

.SecondBlockH {
  margin-block-start: 1.2em;
  margin-block-end: .5em;
}

.SecondBlockRight {
  display: flex;
  align-items: flex-end;
  width: 120%;
  padding: 3%;
  margin-left: -20%;
  z-index: 0;
}

.SecondBlockIMG {
  filter: drop-shadow(5px 5px 5px rgb(89, 45, 98));
}

.ButtonWorkGroup {
  color: #ffcf46;
  font-size: 1rem;
}

.ButtonWorkGroup:hover {
  color: #482ff7;
}

@media only screen and (min-width: 120rem) {
  .Header {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1400px) {
  .SecondBlockLeft {
    width: 150%;
  }
  .SecondBlockConent {
    filter: drop-shadow(0 0 1rem #7258e7);
  }
  .SecondBlockH {
    text-shadow: 0 0 3rem #7258e7;
  }
  .SecondBlockP {
    text-shadow: 0 0 3rem #7258e7;
    background-image: radial-gradient(
      rgba(133,  74, 219, .5),
      rgba(0, 0, 0, 0)
    );
    padding: 1%;
  }
  .SecondBlockRight {
    width: 150%;
    margin-left: -50%;
  }
  .WorkGroupBG {
    margin-top: -2rem;
  }
  .metodologyBG {
    width: 45vw;
    margin-top: 0;
  }
  .ConceptualBG {
    width: 45vw;
    margin-top: 0;
  }
  .RobotBG {
    width: 45vw;
  }
  .personnelBG {
    width: 45vw;
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 1080px) {
  .SecondBlock {
    grid-template-columns: 1fr;
  }
  .SecondBlockLeft {
    width: 100%;
  }
  .Header{
    filter: drop-shadow(3px 3px 3px rgba(89, 45, 98, .1));
    width: 100%;
  }
  .SecondBlockConent {
    filter: drop-shadow(3px 3px 9px rgba(89, 45, 98, .5));
  }
  .SecondBlockH {
    text-shadow: none;
  }
  .SecondBlockP {
    text-shadow: none;
    background-image: none;
  }
  .SecondBlockRight {
    display: none;
  }
  .WorkGroupBG {
    margin-top: -1rem;
  }
  .SurveyBG {
    width: 60vw;
    margin-top: 0;
  }
  .RobotBG {
    width: 60vw;
  }
  .personnelBG {
    width: 60vw;
    margin-top: 0;
  }
}


@media only screen and (max-width: 800px) {
  .Header {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .SecondBlockLeft {
    padding: 5% 1% 7% 0;
  }
  .SecondBlockConent {
    margin-top: 1em;
  }
  .SecondBlockIcon {
    padding-right: .2rem;
  }
  .SecondBlockH {
    margin-left: 1em;
    margin-block-end: .3em;
  }
  .SecondBlockP {
    margin-left: -1em;
  }
  .WorkGroupBG {
    margin-top: 0;
  }
  .metodologyBG {
    width: 60vw;
  }
  .ConceptualBG {
    width: 60vw;
  }
}

@media only screen and (max-width: 600px) {
  .Header {
    font-size: 1.6rem;
  }
}
